body {
  width: 100%;
  height: 100%;
  margin: 0px;
}
.p1 {
    width: 100%;
    height: 100vh;
    background-image: url('pics/photo_2023-12-20_10-26-21.jpg');
    background-size: cover;
    background-position: center;
    float: left;
    clear: none;
  }
  .logo {
    mix-blend-mode: multiply;
    position: relative;
    bottom: 80px;
    left: 50px;
  }

  
  h1 {
    font-family: century-gothic, sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 20px;
    color: antiquewhite;
    text-align: left;
    vertical-align: bottom;
    position: relative;
    bottom: 120px;
    left: 50px;
    margin-right: 50px;
  }
  h3 {
    font-family: century-gothic, sans-serif;
    font-weight: 175px;
    font-size: 15px;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    vertical-align: bottom;
    position: relative;
    top: 20px;
    left: 50px;
    margin-right: 50px;
  }
  .about {
    text-align: right;
    font-family: century-gothic;
    color: antiquewhite;
    position: relative;
    right: 500px;
    font-size: small;
    bottom: 435px;

  }

  .faq {
    text-align: right;
    font-size: small;
    font-family: century-gothic;
    color: antiquewhite;
    position: relative;
    right: 380px;
    bottom: 468px;


  }

  .button {
    background-color: #ffda56; /* Green */
    border: none;
    color: black;
    font-family: century-gothic, sans-serif;
    font-weight: bolder;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    left: 1000px;
    bottom: 520px;
  }
  

  #content1::after{
    content: "\a";
    white-space: pre;
  }
  #content2::after{
    content: "\a";
    white-space: pre;
  }
  .p2 {
    background-color: #05203F;
    width: 100%;
    height: 100vh;
    float: left;
    clear: none;
    align-items: center;
  }

  h2 {
    font-family: century-gothic, sans-serif;
    font-weight: bold;
    line-height: 60px;
    font-size: 32px;
    color: antiquewhite;
    text-align: left;
    position: relative;
    top: 20px;
    left: 50px;
    margin-right: 50px;

  }
  .container {
    display: flex; 
    color: antiquewhite;
  }
  .fishing{
    height: 40%;
    width: 40%;
    float: right;
    position: relative;
    bottom: 240px;
    right: 50px;
  
  }

  .two_ships{
    height: 400px;
    width: 493px;
    float: right;
    position: relative;
    bottom: 300px;
    right: 70px;

  }
  .phones{
    height: 70%;
    width: 14%;
    float: right;
    position: relative;
    bottom: 380px;
    right: 380px;
    

  }
  .phones2{
    height: 70%;
    width: 14%;
    float: right;
    position: relative;
    bottom: 380px;
    left: 60px;
    

  }
  .people{
    height: 50%;
    width: 50%;
    float: right;
    position: relative;
    bottom: 315px;
    right: 30px;

  }
  .Flex {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 20px;
    left: 50px;
    margin-right: 50px;
}

.box-transparent{
    position: relative;
    line-height: 30px;
    color: antiquewhite;
    background-color: gray;
    opacity: 0.5;
    width: 40%;
    padding: 20px;
    border-bottom: solid 1px white;
    font-family: century-gothic, sans-serif;
}
.Flex-item2 {
  position: relative;
  line-height: 30px;
  color: antiquewhite;
  background-color: gray;
  opacity: 0.5;
  width: 43.15%;
}
.Flex-item3 {
  position: relative;
  line-height: 30px;
  color: antiquewhite;
  background-color: gray;
  opacity: 0.5;
  width: 40%;
  border-bottom: solid 1px white;
}

/*.Flex-item + .Flex-item {
    border-bottom: solid 1px white;
}
*/
/** Optional for OPs exact layout */

.Flex-item:first-child {
    text-align: left;
    color: antiquewhite;
}

.Flex-item:last-child {
    text-align: left;
    color: antiquewhite;
}