body {
    margin: 0;
}
.p1 {
    width: 100%;
    height: 100vh;
    background-image: url('pics/o2gcover.jpg');
    background-size: cover;
    background-position: center;
    float: left;
    clear: none;
  }
  h1 {
    font-size: 40px;
    color: antiquewhite;
    text-align: left;
    vertical-align: bottom;
  }
  .p2 {
    background-color: #05203F;
    width: 100%;
    height: 100vh;
    float: left;
    clear: none;
  }

  h2 {
    font-size: 40px;
    color: antiquewhite;
  }
  .ship{
    height: 50%;
    width: 50%;
    float: right;
    mix-blend-mode:multiply;
    filter: contrast(20);
  }